.header,
body {
    -webkit-box-direction: normal
}

.header__title,
body,
html {
    font-weight: 400;
    margin: 0
}

.dialog-container,
.header {
    position: fixed;
    width: 100%
}

*,
.card {
    box-sizing: border-box
}

.card,
.dialog {
    border-radius: 2px
}

.mdl-button,
html {
    overflow: hidden
}

body,
html {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Verdana, sans-serif;
    font-display: optional;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.hide {
    display: none
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    background: #f1a321;
    background: url('../images/bg.png') top center #f1a321;
}

.header {
    height: 56px;
    color: #FFF;
    background: #f74902;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 2px 9px 1px rgba(0, 0, 0, .12), 0 4px 2px -2px rgba(0, 0, 0, .2);
    padding: 16px 16px 0;
    will-change: transform;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, .21, 1) .1s;
    transition: -webkit-transform 233ms cubic-bezier(0, 0, .21, 1) .1s;
    transition: transform 233ms cubic-bezier(0, 0, .21, 1) .1s;
    transition: transform 233ms cubic-bezier(0, 0, .21, 1) .1s, -webkit-transform 233ms cubic-bezier(0, 0, .21, 1) .1s;
    z-index: 1000
}

.header__title {
    font-size: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.dialog-container {
    background: rgba(0, 0, 0, .57);
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0, 0, .21, 1);
    transition: opacity 333ms cubic-bezier(0, 0, .21, 1)
}

.dialog-container--visible {
    opacity: 1;
    pointer-events: auto
}

.dialog {
    /* background: #FFF; */
    /* box-shadow: 0 0 14px rgba(0, 0, 0, .24), 0 14px 28px rgba(0, 0, 0, .48); */
    min-width: 310px;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%) translateY(30px);
    transform: translate(-50%, -50%) translateY(30px);
    -webkit-transition: -webkit-transform 333ms cubic-bezier(0, 0, .21, 1) 50ms;
    transition: -webkit-transform 333ms cubic-bezier(0, 0, .21, 1) 50ms;
    transition: transform 333ms cubic-bezier(0, 0, .21, 1) 50ms;
    transition: transform 333ms cubic-bezier(0, 0, .21, 1) 50ms, -webkit-transform 333ms cubic-bezier(0, 0, .21, 1) 50ms;
    background: url('../images/bg-popup.png') center top no-repeat;
    background-size: cover;
}

.card,
.mdl-button {
    position: relative
}

.dialog>div {
    padding-left: 24px;
    padding-right: 24px
}

.dialog-title {
    padding-top: 20px;
    font-size: 1.25em
}

.dialog-body {
    padding-top: 20px;
    padding-bottom: 24px
}

.dialog-body select {
    width: 100%;
    font-size: 2em
}

.dialog-buttons {
    padding: 8px!important;
    float: right
}

.card {
    padding: 16px;
    background: #fff;
    margin: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    /* height: 36px; */
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow;
    -webkit-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.mdl-button--primary.mdl-button--primary,
.mdl-button.mdl-button--colored {
    color: #f74902
}

.mdl-button::-moz-focus-inner {
    border: 0
}

.mdl-button:hover {
    background-color: rgba(158, 158, 158, .2)
}

.mdl-button:focus:not(:active) {
    background-color: rgba(0, 0, 0, .12)
}

.mdl-button:active {
    background-color: rgba(158, 158, 158, .4)
}

.mdl-button.mdl-button--colored:focus:not(:active) {
    background-color: rgba(0, 0, 0, .12)
}

.mdl-button--inverse.mdl-button--inverse {
    /* background-color: #f74902; */
    /* color: #fff; */
    margin-top: 20px;
}

.mdl-button--primary.mdl-button--primary .mdl-ripple {
    background: #f74902
}

.header #butRefresh {
    background: url(images/ic_refresh_white_24px.svg) center center no-repeat
}

.header .headerButton {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    text-indent: -30000px;
    overflow: hidden;
    opacity: .54;
    -webkit-transition: opacity 333ms cubic-bezier(0, 0, .21, 1);
    transition: opacity 333ms cubic-bezier(0, 0, .21, 1);
    border: none;
    outline: 0;
    cursor: pointer
}

.main {
    /* padding-top: 60px; */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 414px;
    margin: 0 auto;
}

.sequence {
    font-size: 80px;
    text-align: center;
    padding: 10px;
}

.guess-inputs {
    clear: both;
    overflow: hidden;
    padding: 0;
}

.emoji-input {
    list-style: none;
    padding: 2px;
    float: left;
    text-align: center;
}

.emoji-btn {
    font-size: 48px;
    background: 0 0;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.emoji-btn:hover {
    background-color: rgba(118, 184, 240, .5)
}

.emoji-btn:active {
    outline: #ccc inset 1px
}

.current-guess {
    font-size: 32px;
    min-height: 42px
}

.card.correct {
    background: #81C784
}

.card.wrong {
    background: #E57373
}

.correct-sequence {
    font-size: 24px;
    letter-spacing: 2px
}

.level-up {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #eee
}

.level-complete {
    line-height: 52px;
    vertical-align: top;
    margin-right: -14px
}

.current-level-text {
    font-weight: 200
}

.current-level {
    margin-left: 6px;
    margin-right: 16px;
    font-weight: 800
}

.start-container {
    text-align: center
}

.scrollable-emoji {
    /* height: 65vh; */
    overflow-y: scroll;
    margin-top: -30px;
}

.logo-powerby {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card {
    background: transparent;
    box-shadow: 0 0 0 0;
}

.img-responsive {
    width: 100%;
}
p {
    font-family: 'Mitr', sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0px 0px 1px #000;
}
button.mdl-button {
    font-family: 'Mitr', sans-serif;
    
}
.mdl-button--primary.mdl-button--primary.fb, .mdl-button.mdl-button--colored.fb {
    font-size: 20px;
    color: #3f51b5;
}